/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "src/lib/ionic/scss/ionic";

/* CUSTOM CSS */
/* MAIN */

@font-face {
    font-family: 'gigergiger';
    src: url('../assets/fontes/giger-webfont.woff2') format('woff2'),
         url('../assets/fontes/giger-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, p, a {
  font-family: "gigergiger";
  color: #323B8C;
}

.home-page {
  // height: 100%;
}

.game-page {
  height: 100%;
}

.size-header {
  height: 70px !important;
}

.size-header a:before {
  font-size: 55px !important;
  padding-top: 12px !important;
}

.size-header h1 {
  font-size: 35px !important;
  margin-top: 12px !important;
}

.padding {
  height: 100%;
}

/* TABS DISPLAY */

.tab-nav.tabs {
  // display: none !important;
}

/* GENERAL */

.themes .bar,
.maps-bar {
  border-radius: 15px;
}

.wrapper .bar.maps-bar {
  top: 71px !important; 
  width: 97%;
  margin: 0 10px;
}

.slider-pager {
  bottom: 70px;
}

.scroll-content {
  background: url("../assets/images/background-labi.jpg") no-repeat fixed center;
  background-size: cover;
}

.bar.bar-positive {
  border-color: #323B8C;
  background-color: #323B8C;
  background-image: linear-gradient(0deg, #323B8C, #323B8C 50%, transparent 50%);
  color: #fff;
}

.bar-positive .button {
  border-color: #323B8C;
  background-color: #323B8C;
  color: #fff;
}

.button.icon.ion-home,
.button.icon.ion-navicon {
  background: transparent !important;
}

/* HOME */

.home-page img {
  margin: 80px auto 40px auto;
  display: block;
  width: 50%;
  border-radius: 15px;
}

.home-page p {
  font-size: 28px;
  padding: 23px;
  border: solid 1px #000;
  border-radius: 15px;
  background-color: #fff;
  color: #323B8C;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 70px;
}

/* BUTTONS */

.play-button {
  margin-bottom: 20px !important;
  background-color: #fff;
}

.theme-button {
  margin-top: 400px !important;
}

.button.active, .button.activated {
  background-color: #fff !important;
}

.bluetooth-button,
.theme-button,
.how-to-button,
.challenges-button {
  background-color: #fff;
}

.button.button-block h1 {
  color: #323B8C;
}

a.button-block,
a.button-full,
.button-full > a.button,
input.button.button-block {
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
}

/* CHALLENGES PAGE */

.challenges-first-line,
.challenges-second-line,
.challenges-third-line {
  width: 30%;
  height: 350px;
  float: left;
  margin: 0 17px 0 17px;
}

.challenges-first-line {
  margin-top: 50px !important;
}

.challenges-first-line.first,
.challenges-second-line.first,
.challenges-third-line.first {
  margin-left: 0px !important;
}

.challenges-first-line.third,
.challenges-second-line.third,
.challenges-third-line.third {
  margin-right: 0px !important;
}

.challenges-first-line img,
.challenges-second-line img,
.challenges-third-line img {
  margin: 0 auto;
  display: block;
}

.challenges-first-line h2,
.challenges-second-line h2,
.challenges-third-line h2 {
  margin-top: 25px;
  font-size: 22px;
}

/* THEME PAGE */

.theme-content {
  height: 500px;
}

.box1,
.box2,
.box3 {
  border: transparent;
  height: 93vh;
}

.bar-subheader {
  top: 70px !important;
  font-size: 25px;
}

// .box1 h1,
// .box2 h1,
// .box3 h1 {
//   margin-top: 400px;
// }

.theme-select-button {
  width: 50%;
  height: 100px;
  font-size: 65px;
  color: #323B8C;
  left: 0;
  bottom: 0;
  right: 0;
  top: 700px;
  margin: auto;
  display: block;
  position: absolute;
  background-color: #FFF;
  border-radius: 15px;
  padding: 25px;
}

.bar.bar-assertive {
  border-color: #323B8C !important;
  background-color: #323B8C !important;
}

.bar-subheader h2 {
  font-size: 27px !important;
}

.theme-easy {
  margin-top: 65px;
}

.theme-easy img {
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

.footer-theme-buttons a {
  float: left;
  height: 100px;
  width: 40%;
  margin-left: 9%;
  margin-top: 50px !important;
}

.footer-theme-buttons a h1 {
  font-size: 70px; 
}

.icons-theme-page {
  border: 2px solid white;
  border-radius: 15px;
  background-color: #fff;
  float: right;
  height: 100px;
  width: 40%;
  margin-right: 9%;
  margin-top: 50px;
}

.icons-theme-page img{
  margin: 0 auto;
  display: block;
  padding: 15px;
}

/* GAME PAGE */

.main-game {
  width: 100%;
  height: 350px;
  background-color: #f3f3f3;
  border-radius: 15px;
}

.function-game {
  width: 100%;
  height: 150px;
  background-color: #f3f3f3;
  border-radius: 15px;
}

.function-commands {
  width: 100%;
  height: 200px;
  background-color: #f3f3f3;
  border-radius: 15px;
}

.function-buttons {
  width: 100%;
  height: 150px;
  border-radius: 15px;
}

.exit-button {
  width: 10%;
  background-color: red;
  height: 11%;
  display: block;
  float: right;
}

.game-page h1 {
  margin-top: 10px;
}

.function-spacement {
  width: 20%;
  float: left;
  height: 140px;
  margin: 30px 3% 0px 3%;
  border-radius: 15px;
}

.function-spacement:first-child {
  margin-left: 5px;
}

.function-spacement:last-child {
  margin-right: 0;
}

.left-function {
  display: block;
  border: solid gray;
}

.ion-ios-refresh-empty {
  font-size: 130px;
  padding-left: 40px;
  padding-top: 5px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.ion-ios-refresh-empty.right-icon {
  font-size: 130px;
  padding-left: 40px;
  padding-top: 5px;
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.upper-function {
  display: block;
  border: solid gray;
}

.ion-ios-arrow-thin-up {
  font-size: 140px;
  padding-left: 45px;
}

.right-function {
  display: block;
  border: solid gray;
}

.function-function {
  display: block;
  border: solid gray;
}

.function-function h1 {
  font-size: 130px;
  padding-left: 40px;
  margin-top: -15px;
  color: gray;
}

.hint-wrap {
  margin-top: 60px;
}

.send-function {
  height: 100px;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  display: block;
  border: solid gray;
}

.send-function a {
  font-size: 70px;
  text-align: center;
  display: block;
  margin-top: 35px;
  text-decoration: none;
  color: gray;
}

/* HOW TO PAGE */

.scroll {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 71px 10px 20px 10px;
  .bar {
    top: 0 !important;
  }
}

.home-page h2 {
  font-size: 22px;
  margin-top: 60px;
}

.themes {
  .bar {
    top: 0 !important;
  }
}

/* MAPS PAGE */

.footer-maps-buttons a {
  height: 100px;
  width: 80%;
}
