<ion-view view-title="Home">
  <ion-content class="ionic" id="home">
    <div class="bar bar-header bar-positive size-header">
        <a class="button icon ion-home" href="#/home"></a>
          <h1 class="title">Home</h1>
        <!-- <a class="button icon ion-navicon" href="#/menu"></a> -->
    </div>
    <div class="wrapper">
      <div class="home-page">
        <img ng-src="assets/images/labi-logo.jpg"/>
        <p> Vamos aprender lógica com Labi!</p>

        <a class="button button-block play-button" href="#/themes">
           <h1>Jogar</h1>
        </a>
        <a class="button button-block play-button" href="#/how_to">
           <h1>Como jogar</h1>
        </a>
        <a class="button button-block bluetooth-button" ng-click="connect(selectedDevice)">
           <h1>Bluetooth</h1>
        </a>
        <a class="button button-block play-button" ng-click=initialize()>
           <h1>Inicializar</h1>
        </a>
        <a class="button button-block play-button" ng-click=retrieveConnected()>
           <h1>Retrive Connected</h1>
        </a>
        <a class="button button-block play-button" ng-click=testCommand()>
           <h1>Teste Comando</h1>
        </a>
        <a class="button button-block play-button" ng-click=testD()>
           <h1>Direita</h1>
        </a>
        <a class="button button-block play-button" ng-click=testF()>
           <h1>Frente</h1>
        </a>
        <a class="button button-block play-button" ng-click=testE()>
           <h1>Esquerda</h1>
        </a>
        <!-- <a class="button button-block play-button" ng-click=discover()>
           <h1>Discover</h1>
        </a>
        <a class="button button-block play-button" ng-click=scan()>
           <h1>Scan</h1>
        </a>
 -->        
      </div>
    </div>
  </ion-content>
</ion-view>
